# Feature Engineering 2

In this stage we detail and execute the code corresponding to the recommendation model suggested by us, for which we will need to determine the distance between nearby businesses through the use of API.

### 1- IMPORT LIBRARIES

In [24]:
pip install textblob

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 26, Finished, Available)

Requirement already satisfied: textblob in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (0.18.0.post0)
Requirement already satisfied: nltk>=3.8 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from nltk>=3.8->textblob) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from nltk>=3.8->textblob) (2023.8.8)
Requirement already satisfied: tqdm in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from nltk>=3.8->textblob) (4.66.1)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pandas as pd
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2
import builtin.utils as ut

import warnings
warnings.filterwarnings("ignore")

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 27, Finished, Available)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

___
### 2- LOAD DATA
Reading data to process

In [26]:
## Data reading
total_data = pd.read_parquet('/lakehouse/default/Files/df_database/files_to_EDA/total_data.parquet')

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 28, Finished, Available)

In [27]:
total_data['State'] = total_data['State'].str.replace('_', ' ')

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 29, Finished, Available)

In [28]:
total_data

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 30, Finished, Available)

,Business_Id,Business_Name,Address,City,State,Latitude,Longitude,Ranking,Review_Count,Date,Checkin_Count,User_Id,Stars,Text,User_Name,Category,avg_punt
0,1,Vietnamese Food Truck,,Tampa Bay,Florida,27.955269,-82.456320,4.0,10,2019-04-04 16:03:00,4,b'nnu9h6du4E6oqMasPgKR3Q',5,I eat pho about 4 times a week and from a spec...,Dana,Restaurant,4.50
1,2,Thai 5 Fast Food,3424 S Dale Mabry Hwy,Tampa,Florida,27.912060,-82.505768,4.0,336,2018-02-04 18:25:53,495,b'nnu9h6du4E6oqMasPgKR3Q',1,Had gotten the Pad see eew in the past and did...,Dana,Restaurant,2.50
2,3,Thai Gourmet Market,5831 Memorial Hwy,Tampa,Florida,27.984573,-82.568798,4.5,194,2016-06-11 23:14:50,499,b'nnu9h6du4E6oqMasPgKR3Q',5,"BEST PAD Thai I have ever had!! Seriously, not...",Dana,Restaurant,4.75
3,1,Vietnamese Food Truck,,Tampa Bay,Florida,27.955269,-82.456320,4.0,10,2018-10-23 00:36:29,4,b'JlEdjZvhAbFCU-ObZQb1lw',5,I've been in Wesley Chapel area for about 2 ye...,Linh,Restaurant,4.50
4,4,Brunchies - Lutz,24400 State Rd 54,Lutz,Florida,28.185389,-82.413001,4.0,272,2018-01-13 20:08:35,298,b'JlEdjZvhAbFCU-ObZQb1lw',5,My experience was wonderful. My server Michea...,Linh,Restaurant,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6588281,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2019-01-13 04:40:40,1,b'1.174274648415055e+20',3,ND,Max Eggers,Restaurant,3.80
6588282,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2019-10-20 04:31:09,1,b'1.0774707579529067e+20',5,ND,Brian Lawton,Restaurant,4.80
6588283,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2017-10-18 13:47:06,1,b'1.1143330901823785e+20',4,ND,Christopher Cantagallo,Restaurant,4.30
6588284,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2019-01-09 11:38:23,1,b'1.10361572886253e+20',5,ND,Saira S,Restaurant,4.80
6588285,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2018-10-27 14:32:01,1,b'1.0045691210999357e+20',4,ND,Cicero Holmes,Restaurant,4.30

___
### 3- SENTIMENT ANALYSIS
We will proceed to categorize the comments of each of the users through a sentiment analysis of them, applying a value "0" to negative comments, "1" to neutral comments and "2" to positive ones.

In [29]:
path = '/lakehouse/default/Files/df_database/total_sa.parquet'
df = total_data
total_sa = ut.sentiment_analysis(path, df)

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 31, Finished, Available)

In [30]:
ut.data_summ(total_sa)

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 32, Finished, Available)

            Column                                            Data_type  No_miss_Qty  %Missing  Missing_Qty
       Business_Id                                      [<class 'int'>]      6972202       0.0            0
     Business_Name                                      [<class 'str'>]      6972202       0.0            0
           Address                                      [<class 'str'>]      6972202       0.0            0
              City                                      [<class 'str'>]      6972202       0.0            0
             State                                      [<class 'str'>]      6972202       0.0            0
          Latitude                                    [<class 'float'>]      6972202       0.0            0
         Longitude                                    [<class 'float'>]      6972202       0.0            0
           Ranking                                    [<class 'float'>]      6972202       0.0            0
      Review_Count                                      [<class 'int'>]      6972202       0.0            0
              Date [<class 'pandas._libs.tslibs.timestamps.Timestamp'>]      6972202       0.0            0
     Checkin_Count                                      [<class 'int'>]      6972202       0.0            0
           User_Id                                    [<class 'bytes'>]      6972202       0.0            0
             Stars                                      [<class 'int'>]      6972202       0.0            0
              Text                                      [<class 'str'>]      6972202       0.0            0
         User_Name                                      [<class 'str'>]      6972202       0.0            0
          Category                                      [<class 'str'>]      6972202       0.0            0
          avg_punt                                    [<class 'float'>]      6972202       0.0            0
Sentiment_Analysis                                      [<class 'int'>]      6972202       0.0            0
=====================================

,Column,Data_type,No_miss_Qty,%Missing,Missing_Qty
0,Business_Id,[<class 'int'>],6972202,0.0,0
1,Business_Name,[<class 'str'>],6972202,0.0,0
2,Address,[<class 'str'>],6972202,0.0,0
3,City,[<class 'str'>],6972202,0.0,0
4,State,[<class 'str'>],6972202,0.0,0
5,Latitude,[<class 'float'>],6972202,0.0,0
6,Longitude,[<class 'float'>],6972202,0.0,0
7,Ranking,[<class 'float'>],6972202,0.0,0
8,Review_Count,[<class 'int'>],6972202,0.0,0
9,Date,[<class 'pandas._libs.tslibs.timestamps.Timest...,6972202,0.0,0
10,Checkin_Count,[<class 'int'>],6972202,0.0,0
11,User_Id,[<class 'bytes'>],6972202,0.0,0
12,Stars,[<class 'int'>],6972202,0.0,0
13,Text,[<class 'str'>],6972202,0.0,0
14,User_Name,[<class 'str'>],6972202,0.0,0
15,Category,[<class 'str'>],6972202,0.0,0
16,avg_punt,[<class 'float'>],6972202,0.0,0
17,Sentiment_Analysis,[<class 'int'>],6972202,0.0,0

Filter the DataFrame to include only businesses with a ranking greater than 4.0 and sentiment analysis greater than 1.

In [31]:
df_filtrado = total_sa[(total_sa['Ranking'] > 4.0) & (total_sa['Sentiment_Analysis'] > 1)]

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 33, Finished, Available)

In [32]:
df_filtrado

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 34, Finished, Available)

,Business_Id,Business_Name,Address,City,State,Latitude,Longitude,Ranking,Review_Count,Date,Checkin_Count,User_Id,Stars,Text,User_Name,Category,avg_punt,Sentiment_Analysis
2,3,Thai Gourmet Market,5831 Memorial Hwy,Tampa,Florida,27.984573,-82.568798,4.5,194,2016-06-11 23:14:50,499,b'nnu9h6du4E6oqMasPgKR3Q',5,"BEST PAD Thai I have ever had!! Seriously, not...",Dana,Restaurant,4.75,2
5,5,Sunrise Eatery,5883 Gall Blvd,Zephyrhills,Florida,28.243080,-82.188305,4.5,281,2018-09-26 00:29:46,289,b'JlEdjZvhAbFCU-ObZQb1lw',4,So this is truly your local diner spot of Zeph...,Linh,Restaurant,4.25,2
13,13,The Fat Rabbit Pub,16029 Tampa Palms Blvd W,Tampa,Florida,28.098231,-82.399006,4.5,278,2018-09-26 00:22:26,320,b'JlEdjZvhAbFCU-ObZQb1lw',5,So I find myself trying this place from an art...,Linh,Restaurant,4.75,2
13,13,The Fat Rabbit Pub,16029 Tampa Palms Blvd W,Tampa,Florida,28.098231,-82.399006,4.5,278,2018-09-26 00:22:26,320,b'JlEdjZvhAbFCU-ObZQb1lw',5,So I find myself trying this place from an art...,Linh,Pub,4.75,2
13,13,The Fat Rabbit Pub,16029 Tampa Palms Blvd W,Tampa,Florida,28.098231,-82.399006,4.5,278,2018-09-26 00:22:26,320,b'JlEdjZvhAbFCU-ObZQb1lw',5,So I find myself trying this place from an art...,Linh,Pub,4.75,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6588228,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2018-10-10 14:50:03,1,b'1.1566175743353664e+20',5,Great food!,Mary Toledo,Restaurant,4.80,2
6588229,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2018-02-16 21:30:04,1,b'1.1713773741737504e+20',5,Fabulous!!!\nStaff goes beyond tol please!!!,Maureen Whalen,Restaurant,4.80,2
6588230,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2017-05-05 13:33:30,1,b'1.0306064880749507e+20',5,Awesome food and service,Stewart G,Restaurant,4.80,2
6588231,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2017-04-09 17:26:18,1,b'1.0221965363595934e+20',5,"Excellent food, never dissatisfied.",Diego Roberto Rael,Restaurant,4.80,2
6588232,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.289450,-87.954386,4.6,228,2019-06-09 05:51:21,1,b'1.1164392037797198e+20',4,(Translated by Google) The best dishes\n\n(Ori...,chatitos Salinas,Restaurant,4.30,2

___
### 4- MINIMUM DISTANCE BETWEEN TOURIST AND NON-TOURIST BUSINESSES
By using a proposed function, we proceed to segregate the information according to the states

In [33]:
df_states = ut.divide_by_state(df_filtrado, state_column='State')

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 35, Finished, Available)

Florida DataFrame was generated successfully.
Indiana DataFrame was generated successfully.
California DataFrame was generated successfully.
Nevada DataFrame was generated successfully.
Illinois DataFrame was generated successfully.
New Jersey DataFrame was generated successfully.
Louisiana DataFrame was generated successfully.
Massachusetts DataFrame was generated successfully.
New York DataFrame was generated successfully.
District of Columbia DataFrame was generated successfully.

In [34]:
df_Florida = df_states['Florida']
df_Florida.drop_duplicates(inplace=True)
df_Indiana = df_states['Indiana']
df_Indiana.drop_duplicates(inplace=True)
df_Nevada = df_states['Nevada']
df_Nevada.drop_duplicates(inplace=True)
df_California = df_states['California']
df_California.drop_duplicates(inplace=True)
df_Louisiana = df_states['Louisiana']
df_Louisiana.drop_duplicates(inplace=True)
df_Illinois = df_states['Illinois']
df_Illinois.drop_duplicates(inplace=True)
df_NJ = df_states['New Jersey']
df_NJ.drop_duplicates(inplace=True)
df_Massachusetts = df_states['Massachusetts']
df_Massachusetts.drop_duplicates(inplace=True)
df_NY = df_states['New York']
df_NY.drop_duplicates(inplace=True)
df_DC = df_states['District of Columbia']
df_DC.drop_duplicates(inplace=True)

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 36, Finished, Available)

Once the information is grouped by state, we proceed to determine the minimum distance from non-tourist businesses to those that are tourist.

In [35]:
flo_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/Florida.parquet'
df_Florida = ut.distances(flo_loc, df_Florida)
indi_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/Indiana.parquet'
df_Indiana = ut.distances(indi_loc, df_Indiana)
nev_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/Nevada.parquet'
df_Nevada = ut.distances(nev_loc, df_Nevada)
Cal_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/California.parquet'
df_California = ut.distances(Cal_loc, df_California)
Lou_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/Lousiana.parquet'
df_Louisiana = ut.distances(Lou_loc, df_Louisiana)
Ill_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/Illinois.parquet'
df_Illinois = ut.distances(Ill_loc, df_Illinois)
Nj_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/New_Jersey.parquet'
df_NJ = ut.distances(Nj_loc, df_NJ)
Mas_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/Massachusetts.parquet'
df_Massachusetts = ut.distances(Mas_loc, df_Massachusetts)
Ny_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/New_York.parquet'
df_NY = ut.distances(Ny_loc, df_NY)
Dc_loc = '/lakehouse/default/Files/df_database/Distance_Dataframes/District_of_Columbia.parquet'
df_DC = ut.distances(Dc_loc, df_DC)

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 37, Finished, Available)

Dataframe                               Business_Name   Latitude  Longitude  \
2                       Thai Gourmet Market  27.984573 -82.568798
5                            Sunrise Eatery  28.243080 -82.188305
13                       The Fat Rabbit Pub  28.098231 -82.399006
13                       The Fat Rabbit Pub  28.098231 -82.399006
14                             Sweetea Cafe  28.195108 -82.391879
...                                     ...        ...        ...
6386021          Azteca d'Oro West Colonial  28.551199 -81.481493
6387543                      GameTime Ocoee  28.553130 -81.515546
6388417  Outpost Kitchen, Bar, & Provisions  28.627351 -81.363813
6388809                    Plantation Grove  28.532184 -81.539680
6390226                      Sawgrass Mills  26.149294 -80.323482

              Category
2           Restaurant
5           Restaurant
13          Restaurant
13                 Pub
14          Restaurant
...                ...
6386021     Restaurant
6387543     Restaurant
6388417     Restaurant
6388809  Shopping mall
6390226  Shopping mall

[7009 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/Florida.parquet
Dataframe                            Business_Name   Latitude  Longitude       Category
969                         Gaslight Inn  39.734939 -86.159212     Restaurant
979                     One World Market  39.910159 -86.073354     Restaurant
991                              Stables  39.732390 -86.061982     Restaurant
992                            Papa Roux  39.782133 -86.010877     Restaurant
999                    Brickhouse Coffee  39.612853 -86.078384     Restaurant
...                                  ...        ...        ...            ...
6580966  Flat12 Bierwerks Jeffersonville  38.269264 -85.739720     Restaurant
6581231                    Eastwood Mall  41.536323 -87.482801  Shopping mall
6583982                    Wings & Kabob  39.883329 -86.208417     Restaurant
6584780                    Pizza Gallery  39.483882 -87.313409     Restaurant
6587671                   Windmill Chill  38.252263 -87.035553     Restaurant

[3041 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/Indiana.parquet
Dataframe                         Business_Name   Latitude   Longitude       Category
14885    Johnny's Ristorante Italiano  39.513910 -119.855326     Restaurant
14900                            Bowl  39.526104 -119.815675     Restaurant
14909            Centro Bar & Kitchen  39.519962 -119.813625  Shopping mall
14909            Centro Bar & Kitchen  39.519962 -119.813625     Restaurant
14915                    Twisted Fork  39.423465 -119.735546     Restaurant
...                               ...        ...         ...            ...
6585203           The Westside Bistro  36.196550 -115.150636     Restaurant
6585791  Fuentes Restaurant & Cantina  38.959054 -119.771692     Restaurant
6585850    Artists Co-op Gallery Reno  39.525925 -119.803661    Art gallery
6585867                Minden Village  38.958443 -119.771705  Shopping mall
6585892        Sierra Arts Foundation  39.524355 -119.812470    Art gallery

[1470 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/Nevada.parquet
Dataframe                            Business_Name   Latitude   Longitude       Category
2313                    The Palace Grill  34.417996 -119.696310     Restaurant
14992     Santa Barbara Helicopter Tours  34.433196 -119.834804          Hotel
15811                Taqueria Cuernavaca  34.418932 -119.704239     Restaurant
15846    Nardonne's La Famiglia Pizzeria  34.418095 -119.698531     Restaurant
17432    Santa Barbara County Courthouse  34.424201 -119.702328            Pub
...                                  ...        ...         ...            ...
5503263  Bombdiggity Hot Dogs & Catering  33.436081 -117.788168     Restaurant
5504992                      Rustic Root  32.710961 -117.159951     Restaurant
5508971   Rancho Rialto Mobile Home Park  34.079978 -117.372469           Park
5508988         Nike Outlet Santa Monica  34.013896 -118.494418  Shopping mall
5509425                      Metro Pizza  37.324017 -121.994308     Restaurant

[7936 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/California.parquet
Dataframe                                     Business_Name   Latitude  Longitude  \
2516694                        Taqueria El Patron  30.260098 -92.040551
2516896                                     Shell  30.630458 -90.187520
2518014                                Los Amigos  30.453364 -90.081345
2519227                             Shorty's Ribs  30.504890 -90.498073
2519454                     THE MELTDOWN SNOBALLS  30.380264 -91.248954
...                                           ...        ...        ...
6584926             Gangnam Korean BBQ Restaurant  30.005943 -90.161007
6584965  El Paso Mexican Grill On Magazine Street  29.923383 -90.087490
6586704                                    Subway  30.282814 -90.955729
6586745                        The Pit Sports Bar  30.257671 -91.103230
6587905                        Farmer Meat Market  30.493538 -91.169125

           Category
2516694  Restaurant
2516896  Restaurant
2518014  Restaurant
2519227  Restaurant
2519454  Restaurant
...             ...
6584926  Restaurant
6584965  Restaurant
6586704  Restaurant
6586745  Restaurant
6587905  Restaurant

[1765 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/Lousiana.parquet
Dataframe                           Business_Name   Latitude  Longitude    Category
29181    Edwardsville Children's Museum  38.804395 -89.949733      Museum
29190              The Brown Bag Bistro  38.890048 -90.181429  Restaurant
29195                     Dewey's Pizza  38.811217 -89.954867  Restaurant
29197       Edwardsville Public Library  38.811135 -89.953855         Pub
29199             Peel Wood Fired Pizza  38.801353 -89.955765  Restaurant
...                                 ...        ...        ...         ...
6586578           Captain Cafe & Bakery  41.853700 -87.634759  Restaurant
6586888             Mariscos El Malecon  41.718763 -87.551271  Restaurant
6587783                          Subway  42.278777 -89.078880  Restaurant
6588079                       D Cuisine  41.932084 -87.644375  Restaurant
6588160  The Green Room Of Libertyville  42.289450 -87.954386  Restaurant

[4662 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/Illinois.parquet
Dataframe                               Business_Name   Latitude  Longitude    Category
50151              Benjamin Franklin Bridge  39.952945 -75.134361         Pub
54156                         Rai Rai Ramen  39.919950 -74.928321  Restaurant
54157                Eden Korean Restaurant  39.911054 -74.991511  Restaurant
54162                   Aroma Indian Bistro  39.950869 -75.048600  Restaurant
54192    La Tentacion Pizza & Mexican Grill  39.863811 -75.132077  Restaurant
...                                     ...        ...        ...         ...
2040340                      Big Bites Deli  39.570871 -75.051999  Restaurant
2101000               Delaware Valley Tours  39.935819 -74.909185       Hotel
2101000               Delaware Valley Tours  39.935819 -74.909185         Pub
2365709               The Business Emporium  40.073081 -74.855787         Pub
2382342           Town & Country Golf Links  39.652686 -75.316367  Restaurant

[605 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/New_Jersey.parquet
Dataframe                              Business_Name   Latitude  Longitude    Category
2516768            Battis Farm Parking Lot  42.873178 -70.942946         Pub
2516853                   La Sanghita Cafe  42.365695 -71.029044  Restaurant
2517261                        Hobart Park  42.355434 -71.161262        Park
2517472  Spring Restaurant Inc (Xuân Quán)  42.791565 -71.183794  Restaurant
2517738           Good Taste Asian Cuisine  42.680840 -70.839105  Restaurant
...                                    ...        ...        ...         ...
6586329         T C Lando's Sub & Pizzeria  42.421753 -71.692549  Restaurant
6586510                      Donut Kitchen  42.338342 -71.837124  Restaurant
6586560                          Davis BBQ  42.435845 -71.727505  Restaurant
6586591                            Similan  42.434762 -71.685037  Restaurant
6587330                    Michael's Pizza  42.376414 -71.158831  Restaurant

[2695 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/Massachusetts.parquet
Dataframe                       Business_Name   Latitude  Longitude       Category
2516842                      V-Note  40.772618 -73.952116     Restaurant
2516925            Marketplace Mall  42.599056 -76.180864  Shopping mall
2517156                Alpine Pizza  43.837433 -73.761254     Restaurant
2517304      Nadal's deli & organic  40.822056 -73.953999     Restaurant
2517335  Cantina 62 Mexican Express  42.990721 -78.760377     Restaurant
...                             ...        ...        ...            ...
6587795                      Luthun  40.729911 -73.981883     Restaurant
6587828              To Two Boonsik  40.715612 -73.993828     Restaurant
6587855                  Matsunichi  40.715866 -73.997244     Restaurant
6587887                         Jia  40.715434 -73.990083     Restaurant
6588006          China King Express  42.698185 -78.988253     Restaurant

[6176 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/New_York.parquet
Dataframe                          Business_Name   Latitude  Longitude     Category
2518467      Michel Richard Citronelle  38.905092 -77.059660   Restaurant
2519308               Francis Dog Park  38.906277 -77.053947         Park
2527858         Khalil Gibran Memorial  38.920413 -77.061449         Park
2534221             Eckington Dog Park  38.912365 -77.000791         Park
2538577                  Chicken To Go  38.873129 -76.971127   Restaurant
...                                ...        ...        ...          ...
6532746          Karibbean Kitchen LLC  38.933350 -77.032921   Restaurant
6538531               Juice Joint Café  38.903300 -77.032915   Restaurant
6566818  Burger Tap & Shake Tenleytown  38.947728 -77.079223   Restaurant
6569338                         AIA|DC  38.895579 -77.021628  Art gallery
6580817           Pho Anh Dao | Pho DC  38.916035 -77.041390   Restaurant

[302 rows x 4 columns] was successfully loaded from /lakehouse/default/Files/df_database/Distance_Dataframes/District_of_Columbia.parquet

In [36]:
# List of DataFrames by state
dataframes_por_estado = [df_Florida, df_Indiana, df_Nevada, df_California, df_Louisiana, df_Illinois, df_NJ, df_Massachusetts, df_NY, df_DC]

# Concatenate the DataFrames
df_concatenado = pd.concat(dataframes_por_estado)

# Verify the result
df_concatenado

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 38, Finished, Available)

,Business_Name,Latitude,Longitude,Category,Distance,Closest_Touristic_Business,Tourism_Cat
2,Thai Gourmet Market,27.984573,-82.568798,Restaurant,0.143215,Can You Escape?,Park
5,Sunrise Eatery,28.243080,-82.188305,Restaurant,1.446894,Betmar Acres,Park
13,The Fat Rabbit Pub,28.098231,-82.399006,Restaurant,3.737803,USF Riverfront Park,Park
13,The Fat Rabbit Pub,28.098231,-82.399006,Pub,3.737803,USF Riverfront Park,Park
14,Sweetea Cafe,28.195108,-82.391879,Restaurant,6.523967,New Tampa Recreation Center,Park
...,...,...,...,...,...,...,...
6532746,Karibbean Kitchen LLC,38.933350,-77.032921,Restaurant,1.079769,Upshur Park,Park
6538531,Juice Joint Café,38.903300,-77.032915,Restaurant,0.762641,D.C. Alley Museum,Museum
6566818,Burger Tap & Shake Tenleytown,38.947728,-77.079223,Restaurant,1.170836,American University Museum at the Katzen Arts ...,Museum
6569338,AIA|DC,38.895579,-77.021628,Art gallery,NaN,,
6580817,Pho Anh Dao | Pho DC,38.916035,-77.041390,Restaurant,0.889182,Hamiltonian Gallery,Art gallery

___
### 5- UNIFICATION OF DATAFRAMES

In [37]:
df_estados = pd.merge(df_filtrado, df_concatenado, on=['Business_Name',	'Latitude',	'Longitude',	'Category'],  how='left')

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 39, Finished, Available)

In [38]:
df_estados.tail(2)

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 40, Finished, Available)

,Business_Id,Business_Name,Address,City,State,Latitude,Longitude,Ranking,Review_Count,Date,...,User_Id,Stars,Text,User_Name,Category,avg_punt,Sentiment_Analysis,Distance,Closest_Touristic_Business,Tourism_Cat
2113460,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.28945,-87.954386,4.6,228,2017-04-09 17:26:18,...,b'1.0221965363595934e+20',5,"Excellent food, never dissatisfied.",Diego Roberto Rael,Restaurant,4.8,2,2.058089,Peterson Commons,Shopping mall
2113461,50523,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",Libertyville,Illinois,42.28945,-87.954386,4.6,228,2019-06-09 05:51:21,...,b'1.1164392037797198e+20',4,(Translated by Google) The best dishes\n\n(Ori...,chatitos Salinas,Restaurant,4.3,2,2.058089,Peterson Commons,Shopping mall

In [39]:
# eliminate the data of those businesses with zero distances
df_estados = df_estados.dropna(subset=['Distance'])
df_estados = df_estados.loc[df_estados['Distance'] < 3]

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 41, Finished, Available)

In [40]:
df_model = df_estados[['Business_Name', 'City', 'State', 'Category', 'Ranking', 'Distance', 'Tourism_Cat' ]]
df_model.drop_duplicates(inplace=True)
df_info = df_estados[['Business_Name', 'Address', 'City', 'State', 'Category', 'Distance', 'Text', 'Closest_Touristic_Business', 'Tourism_Cat']]

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 42, Finished, Available)

In [41]:
# Get the unique categories
categories = df_model['Category'].unique()

# Count the total number of pubs and hotels in each state
pub_counts = df_model[df_model['Category'] == 'Pub'].groupby('State').size()
hotel_counts = df_model[df_model['Category'] == 'Hotel'].groupby('State').size()

# Create an empty DataFrame to store the filtered data
df_filtered = pd.DataFrame()

# Iterate over each category 
for category in categories:
    # Filter the businesses of the current category
    category_df = df_model[df_model['Category'] == category]
    
    # Iterate over each state and select businesses according to the specified rules
    for state in df_model['State'].unique():
        # Filter the businesses in the current state of the current category
        state_category_df = category_df[category_df['State'] == state]
        
        # Select businesses according to the specified rules
        if len(state_category_df) > 0:
            if category == 'Pub':
                max_count = 30 if state in pub_counts.index else 0
            elif category == 'Hotel':
                max_count = 30 if state in hotel_counts.index else 0
            elif category == 'Restaurant':
                max_count = min(100, 5 * len(state_category_df))
            else:
                max_count = len(state_category_df)
            
            selected_businesses = state_category_df.sample(n=min(max_count, len(state_category_df)), random_state=42)
            
            # Add the selected businesses to the filtered DataFrame
            df_filtered = pd.concat([df_filtered, selected_businesses])

# Select randomly 1000 records from the resulting DataFrame
random_sample = df_filtered.sample(n=1000, random_state=42).reset_index(drop=True)

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 43, Finished, Available)

In [42]:
bus_per_cat_per_state = random_sample.groupby(['State', 'Category']).nunique().reset_index()
bus_per_cat_per_state = bus_per_cat_per_state.sort_values(by='State', ascending = False)
bus_per_cat_per_state = bus_per_cat_per_state.rename(columns={"Business_Name": "business_count"})
bus_per_cat_per_state.drop(columns={'City','Ranking','Distance','Tourism_Cat'},inplace=True)
bus_per_cat_per_state

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 44, Finished, Available)

                   State           Category  business_count
56              New York         Restaurant              60
55              New York                Pub              19
54              New York              Hotel               6
53              New York             Hostel               1
52            New Jersey      Shopping mall               4
51            New Jersey         Restaurant              67
50            New Jersey                Pub               5
49            New Jersey               Park               2
48            New Jersey             Museum               1
47            New Jersey              Hotel               3
46            New Jersey  Agency and rental               1
42                Nevada                Pub              15
39                Nevada  Agency and rental               3
40                Nevada              Hotel              15
41                Nevada               Park               2
43                Nevada         Restaurant              70
44                Nevada      Shopping mall               8
45                Nevada                Zoo               1
38         Massachusetts         Restaurant              56
37         Massachusetts                Pub              11
36         Massachusetts              Hotel               3
35             Louisiana         Restaurant              54
34             Louisiana                Pub              13
33             Louisiana              Hotel               3
29               Indiana               Park               3
32               Indiana      Shopping mall               5
31               Indiana         Restaurant              62
30               Indiana                Pub              17
28               Indiana             Museum               1
27               Indiana              Hotel              16
26               Indiana             Hostel               1
25               Indiana  Agency and rental               5
24              Illinois         Restaurant              62
23              Illinois                Pub              17
22              Illinois               Park               1
21              Illinois             Museum               1
20              Illinois              Hotel               4
19              Illinois  Agency and rental               1
14               Florida               Park               7
10               Florida  Agency and rental              23
11               Florida             Hostel               2
12               Florida              Hotel              19
13               Florida             Museum               5
17               Florida      Shopping mall              26
15               Florida                Pub              14
16               Florida         Restaurant              65
18               Florida                Zoo               2
9   District of Columbia         Restaurant              66
8   District of Columbia                Pub               2
4             California               Park               2
2             California              Hotel              14
3             California             Museum               2
1             California             Hostel               2
5             California                Pub              18
6             California         Restaurant              67
7             California      Shopping mall               5
0             California  Agency and rental              13

In [43]:
df_info = pd.merge(df_info, random_sample, on=['Business_Name', 'City', 'State', 'Category', 'Distance', 'Tourism_Cat'], how='inner')

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 45, Finished, Available)

In [44]:
df_info

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 46, Finished, Available)

,Business_Name,Address,City,State,Category,Distance,Text,Closest_Touristic_Business,Tourism_Cat,Ranking
0,Michi Ramen,18025 Highwoods Preserve Pkwy,Tampa,Florida,Shopping mall,0.000000,"Hmm, I've been here 3 times, but three times t...",Michi Ramen,Shopping mall,4.5
1,Michi Ramen,18025 Highwoods Preserve Pkwy,Tampa,Florida,Shopping mall,0.000000,I was intrigued when I saw that a ramen place ...,Michi Ramen,Shopping mall,4.5
2,Michi Ramen,18025 Highwoods Preserve Pkwy,Tampa,Florida,Shopping mall,0.000000,There's a new Asian restaurant in New Tampa an...,Michi Ramen,Shopping mall,4.5
3,Michi Ramen,18025 Highwoods Preserve Pkwy,Tampa,Florida,Shopping mall,0.000000,Dining Room is open and it was worth the wait!...,Michi Ramen,Shopping mall,4.5
4,Michi Ramen,18025 Highwoods Preserve Pkwy,Tampa,Florida,Shopping mall,0.000000,This restaurant was open just before the stay ...,Michi Ramen,Shopping mall,4.5
...,...,...,...,...,...,...,...,...,...,...
80379,La Casita,"La Casita, 634 Julia St, New Orleans, LA 70130",New Orleans,Louisiana,Restaurant,0.119361,Love the outdoor patio and the food is always ...,Ariodante Contemporary Crafts,Art gallery,4.2
80380,La Casita,"La Casita, 634 Julia St, New Orleans, LA 70130",New Orleans,Louisiana,Restaurant,0.119361,Good food,Ariodante Contemporary Crafts,Art gallery,4.2
80381,La Casita,"La Casita, 634 Julia St, New Orleans, LA 70130",New Orleans,Louisiana,Restaurant,0.119361,Happy Hour!,Ariodante Contemporary Crafts,Art gallery,4.2
80382,La Casita,"La Casita, 634 Julia St, New Orleans, LA 70130",New Orleans,Louisiana,Restaurant,0.119361,Good flavors!,Ariodante Contemporary Crafts,Art gallery,4.2
80383,La Casita,"La Casita, 634 Julia St, New Orleans, LA 70130",New Orleans,Louisiana,Restaurant,0.119361,Good happy hour,Ariodante Contemporary Crafts,Art gallery,4.2

save the dataframe for the recommendation model

In [45]:
random_sample.to_parquet('/lakehouse/default/Files/ML_Model/model.parquet')

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 47, Finished, Available)

save the dataframe with the complete information

In [46]:
df_info.to_parquet('/lakehouse/default/Files/ML_Model/df_info.parquet')

StatementMeta(, 3cf682ae-04f6-4895-b7a7-ed58248b6556, 48, Finished, Available)